.vw-viewer {
}

.vw-header {
  height: 64px;
  padding: 0 50px;
  display: flex;
  align-items: center;
}

.vw-header img {
  width: 28px;
}

.vw-title {
  background-color: #f0f3f9;
  padding: 4px;
}
.vw-demo {
  padding: 24px 12px;
}
.vw-table {
  display: flex;
  flex-direction: row;
}
.vw-td {
  width: 50%;
  padding: 12px;
}
.vw-td > h5 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;;
  margin-bottom: 12px;
}